

.admin-layout{
    display:flex;
    background:#f7ebdf;
    
}

/* =========================
   SIDEBAR
========================= */

.sidebar{
    width:380px;
    background:#7B4E2D;
    min-height:calc(100vh - 118px);
}

.sidebar-menu{
    list-style:none;
    padding-top:40px;
    font-size: 25px;
}

.sidebar-menu li a{
    display:flex;
    align-items:center;
    gap:40px;

    padding:18px 25px;
    font-size: 25px;
    color:#fff;
    text-decoration:none;
}

.sidebar-menu li.active a{
    background:var(--medium-brown);
}

.sidebar-menu li a:hover{
    background:var(--medium-brown);
}
/* =========================
   NỘI DUNG
========================= */

.settings-content{
    flex:1;
    padding:40px;
}

/* =========================
   TIÊU ĐỀ
========================= */

.page-title{
    color:#8b5e34;
    font-size:40px;
    font-weight:700;
    margin-bottom:30px;
}

/* =========================
   CARD
========================= */

.setting-card{
    background:#fff;

    border:1px solid #d5b998;

    border-radius:12px;

    padding:25px;

    margin-bottom:25px;

    
}

.setting-card h2{
    color:#8b5e34;

    font-size:22px;

    font-weight:700;

    margin-bottom:20px;
}

/* =========================
   FORM
========================= */

.form-row{
    display:flex;
    gap:25px;
}

.form-group{
    flex:1;
    margin-bottom:15px;
}

.form-group label{
    display:block;

    margin-bottom:8px;

    color:#6d4a28;

    font-size:22px;

    font-weight:600;
}

.form-group input{
    width:100%;

    height:40px;

    border:1px solid #c7ae92;

    border-radius:6px;

    padding:0 12px;

    font-size:22px;

    outline:none;
}

.form-group input:focus{
    border-color:#8b5e34;
}

/* =========================
   TÙY CHỌN HỆ THỐNG
========================= */

.option-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:12px 0;

    border-bottom:1px solid #ececec;
}

.option-item:last-child{
    border-bottom:none;
}

.option-item label{
    display:flex;
    align-items:center;
    gap:10px;

    color:#6d4a28;

    font-size:22px;
}

.option-item span{
    color:#b59a7d;
    font-size:22px;
}

/* =========================
   BUTTON LƯU
========================= */

.btn-save{
    background:#f5e8d4;

    border:1px solid #c7ae92;

    border-radius:10px;

    padding:12px 24px;

    color:#8b5e34;

    font-size:22px;

    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.btn-save:hover{
    background:#8b5e34;
    color:#fff;
}

