.table-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.btn-add{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#8b5e34;
    color:white;
    cursor:pointer;
}